@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
:root {
    --dark-blue: #1b2459;
    --light-gray: #e2e3eb;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {

    height: 100vh;
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;

}

/* <---------------- header.php styling --------------------> */
.top {
    min-width: 100%;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--dark-blue);
    background-color: var(--light-gray);
}

.title {
    font-size: 1.8rem;
    padding: 20px 0px 20px 40px;
    background-color: var(--light-gray);
    margin-right: auto;
}

.start p {
    font-size: 1.5rem;
}

.start .log-in {
    font-size: 1.5rem;
    padding-top: 30px;
    padding: 20px 20px 20px 100px;
    color: var(--dark-blue);
}
.start .reg {
    font-size: 1.5rem;
    padding-top: 30px;
    padding: 25px 40px 25px 40px;
    background-color: var(--dark-blue);
    color: var(--light-gray);
}

.start .greet .log-out {
    font-size: 0.8rem;
    color:var(--white);
    text-decoration: underline;
    font-weight: 400;

}

.start .greet {
    text-align: end;
    padding: 15px 30px 15px 30px;
    background-color: var(--dark-blue);
    color: var(--light-gray);
}

.main-nav {
    background-color: var(--white);
    padding: 10px 0px 10px 60px;

}
.menu {
    display: flex;
    justify-content: space-evenly;
    max-width: 75vh;
}

.menu li {

    position: relative;
    list-style: none;

}

.menu li a {
    color: var(--dark-blue);
    border: 10px solid transparent;

}

.menu li a:hover {
    background-color: var(--light-gray);
    border-color: var(--light-gray);
}

/* <---------------- home.php styling --------------------> */
.container {
    margin: 30px auto auto 40px;
    max-width: 480px;
}

.container .vote {
    font-family: "DM Sans Serif", "sans-serif";
    letter-spacing: 5px;
    font-size: 5.5em;
    letter-spacing: 2px;
    line-height: 0.95;
    color: var(--dark-blue);
}

.container p {
    max-width: 440px;
    text-align: justify;
    margin: 20px auto 20px 0px;
    line-height: 1.5;
    word-spacing: 2px;
}

.container .home-btn {
    display: block;
    width: 200px;
    height: 50px;
    background: var(--dark-blue);
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    color: white;
    line-height: 25px;
}
/* <---------------- admin_log.php & voter_log.php styling --------------------> */

.log-in {
    padding: 40px 0px 0px 70px;
    color: var(--dark-blue);
 }

 .subtitle {
     font-size: 1.7rem;
     margin-right: auto;
     color: var(--dark-blue);
     font-weight: 500;
     margin-bottom: 20px;
 }

 .labels {
     font-size: 18 px;
     font-weight: 400px;
     padding-left: 35px;

 }

 .inputs {
     margin-top: 10px;
     margin-bottom: 5px;
     margin-left: 35px;
     width:315px;
     border-left:#9b9b9b;
     border-right: 2px inset;
     border-bottom: 3px inset var(--light-gray);
     border-top: solid var(--dark-blue);
     border-top-width: 10px;
     padding: 10px;
     position:flex;
 }

 .error {
     position:absolute;
     margin-left: 38px;
     margin-top:3px;
     color: red;
     font-size: 13px;
 }

 .incorrectPW {
     position:absolute;
     margin-top:3px;
     margin-left: 38px;
     color: red;
     font-size: 13px;
 }

 .logButton{
     border-radius: 20%/60%;
     display:block;
     height: 40px;
     width: 150px;
     background-color: #1b2459;
     border-color: #1b2459;
     color: white;
     font-size: 14px;
     margin-top:37px;
     margin-left:275px;
 }

 .signup{
     font-size:14px;
     margin-top: 35px;
     margin-left: 35px;
     color: #1b2459;
 }

 /* <------------- for manage and add election as well as new candidate ------------->*/

.election{
    padding: 20px 0px 20px 40px;
  }
  .election .election-title{
    font-size: 28px;
    min-width: 100%;
    margin-right: auto;
    color: var(--dark-blue);
    letter-spacing: 2px;
  }

  .election .left-sub{
    font-size: 20px;
    padding: 10px 250px 20px 31px;
    color: var(--dark-blue);
  }

  .election .right-sub{
    font-size: 20px;
    color: var(--dark-blue);
  }

  .election .sub{
    font-size: 20px;
    padding: 20px 0px 10px 31px;
    color: var(--dark-blue);
  }

  .election .subscript{
    font-size: 20px;
    text-align:center;
    margin-left: 2px;
    padding: 2px 2px 2px 2px;
    color: var(--dark-blue);
  }

  .election .right-input{
     margin: 12px 95px 20px 31px;
     width:315px;
     border-left:#9b9b9b;
     border-right: 2px inset;
     border-bottom: 3px inset var(--light-gray);
     border-top: solid var(--dark-blue);
     border-top-width: 10px;
     padding:10px;
  }

  .election .left-input{
    width:200px;
    border-left:#9b9b9b;
    border-right: 2px inset;
    border-bottom: 3px inset var(--light-gray);
    border-top: solid var(--dark-blue);
    border-top-width: 10px;
    padding:10px;
  }

  .election .input{
    margin: 12px 0px 20px 31px;
    width:400px;
    border-left:#9b9b9b;
    border-right: 2px inset;
    border-bottom: 3px inset var(--light-gray);
    border-top: solid var(--dark-blue);
    border-top-width: 10px;
    padding:5px;
  }

  .election .date{
    margin: 0px 0px 0px 31px;
    width:150px;
    border-left:#9b9b9b;
    border-right: 2px inset;
    border-bottom: 3px inset var(--light-gray);
    border-top: solid var(--dark-blue);
    border-top-width: 10px;
    padding:10px;
  }

  .election .input-age{
    margin: 5px 0px 10px 31px;
    width:100px;
    border-left:#9b9b9b;
    border-right: 2px inset;
    border-bottom: 3px inset var(--light-gray);
    border-top: solid var(--dark-blue);
    border-top-width: 10px;
    padding:5px;
  }
  .election .input-desc {
    margin: 5px 0px 10px 31px;
    width:300px;
    border-left:#9b9b9b;
    border-right: 2px inset;
    border-bottom: 3px inset var(--light-gray);
    border-top: solid var(--dark-blue);
    border-top-width: 10px;
    padding:5px;
  }


  .election .create-btn{
     margin: -180px 0px 0px 400px;
     border-radius: 20%/60%;
     display:block;
     height: 40px;
     width: 150px;
     background-color: #1b2459;
     border-color: #1b2459;
     color: white;
     font-size: 14px;
  }

  .show {
    display:block;
  }

  .hide{
    display:none;
  }
  /* .election .photocandidate{
    font-size: 20px;
    color: var(--dark-blue);
     margin: -150px 0px 0px 40px;
  }

  .election .photoinsert{
    margin: -290px 0px -700px 400px;
    border-width: thick;
    border-color: var(--dark-blue);
    width:177px;
    height:177px;
    float:right;
  } */

  .election .photo-upload {
    font-size: 15px;
    padding: 20px 0px 10px 31px;
    color: var(--dark-blue);

  }
  .election .photo-submit {
     margin-left: 31px;
     border-radius: 20%/60%;
     display:block;
     height: 40px;
     width: 150px;
     background-color: #1b2459;
     border-color: #1b2459;
     color: white;
     font-size: 14px;

  }
  .election .back-btn{
    margin: -90px 0px 0px 400px;
    border-radius: 20%/60%;
    display:block;
    height: 40px;
    width: 150px;
    background-color: #1b2459;
    border-color: #1b2459;
    color: white;
    font-size: 14px;
  }

  .election .photocap{
    font-size: 20px;
    margin-left: 100px;
    color: var(--dark-blue);
  }

  .election .cancel-btn{
    margin: 20px 0px -40px 1100px;
    padding:10px;
    border-radius: 20%/60%;
    display:block;
    height: 40px;
    width: 150px;
    background-color: #1b2459;
    border-color: #1b2459;
    color: white;
    font-size: 14px;
  }

  .election .elec-pic{
    margin: -30px 0px -30px 31px;
    width: 200px;
    height:200px;
  }

  .election .text{
    font-size: 20px;
    text-align: left;
    padding: 20px 40px 10px 30px;
    color: var(--dark-blue);
  }

  .election .spacing{
    margin-left: 50px;
  }

  .election .back{
    background-color: #e2e3eb;
    background-position: center;
    table-layout: inherit;
    align-self: center;
  }


  .election .textlist{
    font-size: 20px;
    text-align: center;
    padding: 0px 80px 10px 40px;
    color: var(--dark-blue);
  }

  .election .e-subtitle{
    font-size: 20px;
    padding: 20px 0px 0px 400px;
    color: var(--dark-blue);
  }

  .election .next-subtitle{
    font-size: 20px;
    padding: 20px 0px 0px 220px;
    color: var(--dark-blue);
  }

  .election .voteButton{
    margin: 0px 90px 10px 50px;
    border-radius: 20%/80%;
    display:block;
    height: 40px;
    width: 200px;
    background-color: #1b2459;
    border-color: #1b2459;
    color: white;
    font-size: 14px;
  }

  .template {
      padding: 20px;
  }
  .template .picture{
    margin: 11px 34px 10px 34px;
    border-width: thick;
    border-color: var(--dark-blue);
    width: 100px;
    height:100px;
  }
  .template p {
      font-size: 24px;

  }
  .template .desc {
    font-size: 16px;
    min-width: 100%;
    margin: 100px 34px 35px 31px;
    margin-right: auto;
    color: var(--dark-blue);
    letter-spacing: 2px;
  }

  .template .ename {
    font-size: 25px;
    margin-right: auto;
    font-weight: bold;
    margin: -10px 0px 0px 0px;
    color: var(--dark-blue);
    letter-spacing: 2px;
  }

  .template .edesc {
    font-size: 16px;
    min-width: 100%;
    font-style: italic;
    padding-top: 2px;
    padding-left: 40px;
    color: var(--dark-blue);
    letter-spacing: 1px;
  }
  
  .electionDet .back-btn{
    margin: -325px 0px 0px 1050px;
    padding:10px;
    border-radius: 20%/60%;
    display:block;
    height: 40px;
    width: 150px;
    background-color: #1b2459;
    border-color: #1b2459;
    color: white;
    font-size: 14px;
  }

  .electionDet {
	margin-top: 0px;
    margin-left: 80px;
  }

  .electionDet .ename {
    font-size: 25px;
    font-weight: bold;
    color: var(--dark-blue);
	margin-bottom: 10px;
  }

  .electionDet .elecId {
	color: white;
	font-size: 25px;
	font-weight: normal;
	text-align:center;
    width:200px;
	background-color: var(--dark-blue);
    padding: 10px;
	margin-bottom: 15px;
  }

  .electionDet .elecDate {
    font-size: 15px;
    color: var(--dark-blue);
  }

  .candTable {
	width: 800px;
	margin-top: -90px;
    margin-left: 450px;
  }

  .candTable .cpic {
	height: 50%;
  }

  .candTable .cname {
    font-size: 25px;
    font-weight: bold;
    color: var(--dark-blue);
    margin-bottom: 5px;
	margin-left: -630px;
  }

  .candTable .cdesc {
    font-size: 16px;
    padding-top: 2px;
    padding-left: 40px;
    color: var(--dark-blue);
    letter-spacing: 1px;
	margin-bottom: 5px;
	margin-left: -630px;
  }

  .candTable .desc {
    font-size: 20px;
	margin-left: -630px;
    color: var(--dark-blue);
    letter-spacing: 2px;
  }

  .candTable .picture{
    border-width: thick;
    border-color: var(--dark-blue);
    width: 130px;
    height:130px;
  }

/* <------------- for help page and contact page ------------->*/

.help {
   padding: 40px 0px 0px 70px;
   color: var(--dark-blue);
}

.contact {
   padding: 40px 0px 0px 70px;
   color: var(--dark-blue);
}

.subtitle {
    font-size: 1.7rem;
    margin-right: auto;
    color: var(--dark-blue);
    font-weight: 500;
    margin-bottom: 20px;
}

.email {
    font-size: 1.2rem;
    margin-right: auto;
	margin-left: 35px;
    color: var(--dark-blue);
    font-weight: bold;
    margin-bottom: 25px;
}

.comment {
	height: auto;
	font-size: 1.0rem;
	font-weight: normal;
	text-align:justify;
    margin-top: 10px;
    margin-bottom:25px;
    width:1000px;
    border-left:#9b9b9b;
    border-right: 2px inset;
    border-bottom: 3px inset var(--light-gray);
    border-top: solid var(--dark-blue);
    border-top-width: 10px;
    padding: 10px;

}

.question {
    font-size: 1.3rem;
    margin-right: auto;
    color: var(--dark-blue);
    font-weight: bold;
    margin-bottom: 20px;
}

.answer {
    font-size: 1.0rem;
    margin-left:30px;
	margin-right:50px;
	text-align:justify;
    color: black;
    font-weight: 500;
	font-style: italic;
    margin-bottom: 20px;
}

#addQuestBtn {
	margin-bottom: 40px;
	height: 40px;
    width: 40px;
	background-color: #B2BCC5;
	color: #1b2459;
	border-color: #ffffff;
    font-size: 1.5rem;
}

#addQuestion {
	display: inline;
    font-size: 1.5rem;
    margin-right: auto;
    color: var(--dark-blue);
    font-weight: 500;
    margin-bottom: 20px;
}

.labels {
    font-size: 18 px;
    font-weight: 400px;
    padding-left: 35px;

}

.inputs {
    margin-top: 10px;
    margin-bottom:25px;
    margin-left: 35px;
    width:315px;
    border-left:#9b9b9b;
    border-right: 2px inset;
    border-bottom: 3px inset var(--light-gray);
    border-top: solid var(--dark-blue);
    border-top-width: 10px;
    padding: 10px;

}

.textBox {
    margin-top: 10px;
    margin-bottom:25px;
    margin-left: 35px;
    width:315px;
    border-left:#9b9b9b;
    border-right: 2px inset;
    border-bottom: 3px inset var(--light-gray);
    border-top: solid var(--dark-blue);
    border-top-width: 10px;
    padding: 10px;

}

.submitButton{
    border-radius: 20%/60%;
    display:block;
    height: 40px;
    width: 150px;
    background-color: #1b2459;
    border-color: #1b2459;
    color: white;
    font-size: 14px;
    margin-top:-150px;
    margin-left:400px;
}

.adlabels {
    font-size: 1.1rem;
    font-weight: 400px;
    padding-left: 50px;

}

.adinputs {
    margin-top: -20px;
    margin-bottom:25px;
    margin-left: 50px;
    width:315px;
    border-left:#9b9b9b;
    border-right: 2px inset;
    border-bottom: 3px inset var(--light-gray);
    border-top: solid var(--dark-blue);
    border-top-width: 10px;
    padding: 10px;

}

.adtextBox {
    margin-top: 10px;
    margin-bottom:25px;
    margin-left: 50px;
    width:315px;
    border-left:#9b9b9b;
    border-right: 2px inset;
    border-bottom: 3px inset var(--light-gray);
    border-top: solid var(--dark-blue);
    border-top-width: 10px;
    padding: 10px;

}

.adsubmitButton{
    border-radius: 20%/60%;
    display:block;
    height: 40px;
    width: 150px;
    background-color: #1b2459;
    border-color: #1b2459;
    color: white;
    font-size: 1.0rem;
    margin-top:-150px;
    margin-left:400px;
}

/* <------------- for voter's results page ------------->*/

.voter-search {
  padding: 70px 0px 20px 40px;
  align-self: center;
}

.voter-search input[type=text] {
  font-size: 17px;
  width:200px;
  border-left:#9b9b9b;
  border-right: 2px inset;
  border-bottom: 3px inset var(--light-gray);
  border-top: solid var(--dark-blue);
  border-top-width: 10px;
  padding:10px;
}

.voter-search button {
  margin: 0px 0px 0px 20px;
  border-radius: 20%/60%;
  display:block;
  height: 40px;
  width: 170px;
  background-color: #1b2459;
  border-color: #1b2459;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

 .voter-search button:hover {
  background: #ffffff;
}
.voter-search .spacee {
  margin: -100px 0px 20px 40px;
}


.voters {
  padding: 20px 0px 20px 0px;
  align-self: center;
}

.voters input[type=text] {
  font-size: 17px;
  width:200px;
  border-left:#9b9b9b;
  border-right: 2px inset;
  border-bottom: 3px inset var(--light-gray);
  border-top: solid var(--dark-blue);
  border-top-width: 10px;
  padding:10px;
}

.voters button {
  margin: 0px 0px 0px 20px;
  border-radius: 20%/60%;
  display:block;
  height: 40px;
  width: 170px;
  background-color: #1b2459;
  border-color: #1b2459;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

 .voters button:hover {
  background: #ffffff;
}
.voter {
  padding: 50px 0px 0px 0px;
  align-self: center;
}

.voter .result-pic{
  width: 200px;
  height: 200px;
  margin: 0px 50px 0px 50px;
}

.voter .e-name{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding: 20px 0px 0px 0px;
  color: var(--dark-blue);
}

.voter .res {
  font-size: 18px;
  text-align: center;
    padding: 20px 0px 20px 0px;
  color: var(--dark-blue);
}

.footer {
  align-self: center;
}


.result-img {
  height: 200px;
  width: 200px;
  margin-left: 30px;
  margin-right: 30px;
  position:center;
}
